<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
  	  <div class="panel-heading">
        <strong>Edit <%= resource_name.to_s.humanize %></strong>
      </div>
  		<div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
            </div>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
            
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
               <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>
            <i>(leave blank if you don't want to change it)</i>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
               <%= f.password_field :password_confirmation, class: 'form-control', 
                 autocomplete: "off", placeholder: 'Confirm Password' %>
            </div>
          </div>
    
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
               <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
            </div>
            <i>(we need your current password to confirm your changes)</i>
          </div>

          <div class="form-group actions">
            <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
  	  <div class="panel-heading">
        <strong>Cancel my account</strong>
      </div>
  		<div class="panel-body">
  		  <p>
  		    <strong>Unhappy?</strong> 
  		    <%= button_to "Cancel my account", registration_path(resource_name), 
  		      data: { confirm: "Are you sure?" }, method: :delete, 
  		      class: 'btn btn-danger btn-block' %>
  		  </p>
  		</div>
  		<div class="panel-footer">
        <%= link_to "Back", :back, class: 'text-muted' %>
      </div> 
  	</div>
  </div>	
</div>
